<!-- Display all the names of the users in  in alphabetical order -->
<div *ngIf="data" class="container">
    <h2 class="title">Noms des utilisateurs</h2>
    <ol class="list-group">
        <li *ngFor="let user of data.users" class="list-group-item">
            {{ user.lastName }} {{ user.firstName }} 
        </li>
    </ol>

    <!-- Click to save the list of the names in a json file -->
    <div class="text-center">
        <button class="btn btn-success btn-custom" (click)="exportToJsonFile()">Exporter en JSON</button>
    </div>
</div>

